html {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
}

.section {
  background-color: #fff;
}

h1 {
  border-bottom: 1px solid;
}

.btn-hover {
  background-color: #000;
}

@media only screen and (min-width: 60em) {

  .name-email {
    padding-right: 1rem;
  }

}
